
---

# TODO: download and install latests intellij IDEA
# xmllint --html --xpath 'string(//a[.="HTTP"]/@href)' http://www.jetbrains.com/idea/download/download_thanks.jsp 2>/dev/null | xargs wget
#- name: Install xmlint
#  apt: pkg=libxml2-utils state=latest

#- name: Download IntelliJ IDEA 14.1.5
#  get_url: url=https://download.jetbrains.com/idea/ideaIU-14.1.5.tar.gz dest=~/ checksum=sha256:6912902ec97a57f5553247367d6dd5b8e3041e99faf32c48b672cd31413dab73

- name: Create Jetbrains dir
  file: ~/jetbrains state=directory

- name: Download and Install IntelliJ IDEA
  unarchive: src=https://download.jetbrains.com/idea/ideaIU-14.1.5.tar.gz dest=~/jetbrains copy=no
